# ===========================================
# Compiled output
# ===========================================
dist
tmp
out-tsc
bazel-out

# ===========================================
# Node
# ===========================================
node_modules
npm-debug.log
yarn-error.log

# ===========================================
# Angular
# ===========================================
.angular
.angular/cache

# ===========================================
# Tests
# ===========================================
coverage

# ===========================================
# Miscellaneous
# ===========================================
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings
__screenshots__/

# ===========================================
# Environment files
# ===========================================
src/environments/environment.prod.ts
