# ===========================================
# Dependencies
# ===========================================
**/node_modules

# ===========================================
# Build outputs
# ===========================================
**/dist
**/.angular
**/build

# ===========================================
# Git
# ===========================================
**/.git

# ===========================================
# Secrets
# ===========================================
**/.env
**/.env.*

# ===========================================
# Tests
# ===========================================
**/coverage
**/.nyc_output
**/e2e
**/test
**/*.spec.ts
**/*.e2e-spec.ts

# ===========================================
# IDEs
# ===========================================
**/.vscode
**/.cursor
**/.claude

# ===========================================
# CI/CD & Docs
# ===========================================
.github/
docs/
infrastructure/

# ===========================================
# Root files
TEMP/
README.md
.superpowers
